#!/bin/zsh

alias ..='cd ..'
alias clean='rm -rf \#* .\#* *~'
alias cp='nocorrect cp'
alias ec='emacsclient --alternate-editor="" -c'
alias grep="grep -nrI --color=auto --exclude=*~ $GREP_OS_OPTIONS"
alias ls="ls $LS_OS_OPTIONS"
alias ll='ls -lh'
alias lla='ls -lha'
alias mkdir='nocorrect mkdir -p'
alias mv='nocorrect mv'
alias rm="nocorrect rm -i"
alias less="less -R"
