#!/bin/zsh

autoload -U compinit
compinit -D
zstyle ':completion:*' list-colors ''
zstyle ':completion:*' list-colors "$LS_COLORS"

zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31'

zstyle ':completion::complete:*' use-cache 1
zstyle ':completion::complete:*' cache-path ~/.zsh/cache/$HOST
zstyle ':completion:*:descriptions' format "%B---- %d%b"
zstyle ':completion:*:matches' group 'yes'
zstyle ':completion:*' expand 'yes'
zstyle ':completion:*' squeeze-slashes 'yes'
zstyle ':completion::complete:*:tar:directories' file-patterns '*~.*(-/)'
zstyle ':completion:*:complete:-command-::commands' ignored-patterns '*\~'
zstyle ':completion:*' completer _complete _correct _approximate _prefix
zstyle ':completion:*' completer _complete _prefix
zstyle ':completion::prefix-1:*' completer _complete
zstyle ':completion:incremental:*' completer _complete _correct
zstyle ':completion:predict:*' completer _complete
zstyle ':completion:*:options' description 'yes'
zstyle ':completion:*:options' auto-description '%d'
zstyle ':completion:*' format '%{%}-------> %{%}%d%{%}'
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' menu select=1
zstyle ':completion:*' max-errors 2

## incremental completion
autoload -U incremental-complete-word

## completion list colors
zmodload -i zsh/complist

## compinit -i ${HOME}/.zcompdump
## technique
zstyle ':completion:*' completer _complete _correct _approximate

## formatting and messages
zstyle ':completion:*' verbose yes
zstyle ':completion:*' format '%{[33m%}:: %{[1m%}%d%{[0m%}'
zstyle ':completion:*:warnings' format '%{[1;31m%}!! No matches for: %d%{[0m%}'
zstyle ':completion:*' group-name ''

## colors
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}

## case-insensitive (all) completion
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'

## allow one error in approximate completer
zstyle ':completion:*' max-errors 1

## menu completion only if the prefix is valid
zstyle ':completion:*' insert-unambiguous true

## menu will appear only if there are at least 5 matches
zstyle ':completion:*' menu select=5

## show original command in list
zstyle ':completion:*' original true

## remove trailing slashes after a directory
zstyle ':completion:*' squeeze-slashes true

## on processes completion complete all user processes
zstyle ':completion:*:processes' command 'ps -au$USER'

## add colors to processes for kill completion
zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;32'

## cd
zstyle ':completion:*:cd:*' tag-order !named-directories
