#!/bin/zsh

## lineditor
bindkey -e

bindkey "5C"	forward-word		# CTRL-Right
bindkey "5D"	backward-word		# CTRL-Left
bindkey '^[[3~'	delete-char		# Del
bindkey '^[[5~'	history-search-backward	# PgUp
bindkey '^[[6~'	history-search-forward	# PgDn
bindkey "\e[2~"	overwrite-mode		# Insert
bindkey "\e[4~"	end-of-line		# End
bindkey "\e[1~"	beginning-of-line	# Home

## file creation mask
umask 077

## limits
unlimit
limit stack 8192
limit core 0
limit -s

## super mv
autoload zmv

## init tty
[ -t 0 ] && stty intr "" quit "" erase "" kill "" eof "" eol "" start "" stop "" susp "" rprnt "" werase "" lnext "" flush ""

## print command in term title
if [ -t 1 ]; then
    case $TERM in
	xterm*|rxvt|Eterm)
	    preexec () { print -Pn "\e]0;%n@%m: $1\a" }
	    ;;
    esac
fi
