#!/bin/zsh

mkcd ()
{
    mkdir -p $1
    cd $1
}

pskill ()
{
    if [ ! -z $1 ]; then
	local pid
	pid=$(ps ax | grep $1 | grep -v grep | awk '{ print $1 }')
	if [ x$pid != x ]; then
	    echo -n ">> Killing $1 (process $pid)..."
	    kill -9 $=pid
	    echo "slaughtered"
	else
	echo "!! Process not found"
	fi
    else
	echo "!! Need process name"
    fi
}

purge ()
{
    FILES=(*~(N) .*~(N) \#*\#(N) *.o(N) a.out(N) *.core(N) *.cmo(N) *.cmi(N) .*.swp(N))
    NBFILES=${#FILES}
    if [[ $NBFILES > 0 ]]; then
	rm -f ${FILES}
	echo ">> $(pwd) purged, $NBFILES files removed"
    else
	echo "!! No file match"
    fi
}
