#!/bin/zsh

setopt        all_export
setopt        always_last_prompt
setopt     NO_always_to_end
setopt        append_history
setopt     NO_auto_cd
setopt        auto_list
setopt        auto_menu
setopt     NO_auto_name_dirs
setopt        auto_param_keys
setopt        auto_param_slash
setopt        auto_pushd
setopt        auto_remove_slash
setopt     NO_auto_resume
setopt        bad_pattern
setopt        bang_hist
setopt     NO_beep
setopt        bg_nice
setopt       correct_all
setopt     NO_bsd_echo
setopt        cdable_vars
setopt     NO_chase_links
setopt        clobber
setopt        complete_aliases
setopt        complete_in_word
setopt        correct
setopt        correct_all
setopt        csh_junkie_history
setopt     NO_csh_junkie_loops
setopt     NO_csh_junkie_quotes
setopt     NO_csh_null_glob
setopt        equals
setopt        extended_glob
setopt        extended_history
setopt        function_argzero
setopt        glob
setopt     NO_glob_assign
setopt        glob_complete
setopt        glob_dots
setopt        glob_subst
setopt        hash_cmds
setopt        hash_dirs
setopt        hash_list_all
setopt     NO_hist_allow_clobber
setopt     NO_hist_beep
setopt        hist_ignore_dups
setopt        hist_ignore_space
setopt     NO_hist_no_store
setopt        hist_verify
setopt     NO_hup
setopt     NO_ignore_braces
setopt     NO_ignore_eof
setopt        inc_append_history
setopt        interactive_comments
setopt     NO_list_ambiguous
setopt     NO_list_beep
setopt        list_types
setopt        long_list_jobs
setopt        magic_equal_subst
setopt     NO_mail_warning
setopt     NO_mark_dirs
setopt     NO_menu_complete
setopt        multios
setopt     NO_nomatch
setopt        notify
setopt     NO_null_glob
setopt        numeric_glob_sort
setopt     NO_overstrike
setopt        path_dirs
setopt        posix_builtins
setopt     NO_print_exit_value
setopt     NO_prompt_cr
setopt        prompt_subst
setopt        pushd_ignore_dups
setopt     NO_pushd_minus
setopt     NO_pushd_silent
setopt        pushd_to_home
setopt        rc_expand_param
setopt     NO_rc_quotes
setopt     NO_rm_star_silent
setopt     NO_sh_file_expansion
setopt        sh_option_letters
setopt        share_history
setopt        short_loops
setopt     NO_sh_word_split
setopt     NO_single_line_zle
setopt     NO_verbose
setopt     NO_xtrace
